/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/


/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* start editing from here */

a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}


/* text align right */

.txt-lt {
	text-align: left;
}


/* text align left */

.txt-center {
	text-align: center;
}


/* text align center */

.float-rt {
	float: right;
}


/* float right */

.float-lt {
	float: left;
}


/* float left */

.clear {
	clear: both;
}


/* clear float */

.pos-relative {
	position: relative;
}


/* Position Relative */

.pos-absolute {
	position: absolute;
}


/* Position Absolute */

.vertical-base {
	vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
	vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
	display: block;
}


/* vertical menu */

nav.horizontal ul li {
	display: inline-block;
}


/* horizontal menu */

img {
	max-width: 100%;
}


/*end reset*/

body {
	font-family: 'Montserrat', sans-serif;
	background: url(../images/banner.jpg)no-repeat 0px 0px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


/*--main-content--*/

h1 {
	color: #fff;
	font-size: 48px;
	font-weight: 200;
	margin: 3.5em 0 2em;
	letter-spacing: 7px;
	text-transform: capitalize;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 2px 3px #000;
}

.main-agileits {
	width: 60%;
	padding: 5em;
	margin: 0 auto;
	background: url(../images/small.jpg)no-repeat 0px 0px;
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: 0 6px 43px 0 rgba(2, 2, 2, 0.53);
	-moz-box-shadow: 0 6px 43px 0 rgba(2, 2, 2, 0.53);
	box-shadow: 0 6px 43px 0 rgba(2, 2, 2, 0.53);
}

.main-agileits h2 {
	color: rgba(255, 255, 255, 0.33);
	font-size: 6em;
	font-family: 'Rozha One', serif;
	line-height: 85px;
}

.main-agileits h2 span {
	color: rgba(255, 255, 255, 0.93);
}

p.para-wthree {
	font-size: 18px;
	color: #f5f5f5;
	letter-spacing: 1.5px;
	font-weight: 300;
	margin: 1em 0 1.5em;
	width: 67%;
	line-height: 31px;
}

.button a {
	font-size: 17px;
	padding: 8px 32px;
	display: inline-block;
	background: #bb2849;
	border: 2px solid #bb2849;
	color: #fff;
	outline: none;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

.button a:hover {
	background: rgba(255, 255, 255, 0.12);
	color: #fff;
}

.agileits_modal_body input[type="search"] {
	font-size: 15px;
	font-weight: 400;
	padding: 11px 20px;
	outline: none;
	background: #d6d6d6;
	color: #000;
	border: none;
	letter-spacing: 0.5px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.fields-agileinfo-left {
	width: 80%;
	box-sizing: border-box;
	float: left;
}

.fields-agileinfo-right {
	width: 20%;
	box-sizing: border-box;
	float: left;
}

.agileits_modal_body input[type="submit"] {
	background: #bb2849;
	color: #fff;
	border: none;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-weight: bold;
	padding: 8.5px 0px;
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

.agileits_modal_body input[type="submit"]:hover {
	background: #002d4d;
	color: #fff;
}


/*--main-content--*/


/*--footer--*/

p.copyright-agileinfo {
	font-size: 14px;
	letter-spacing: 2px;
	color: #fff;
	font-weight: 300;
}

footer p a {
	display: inline-block;
	color: #fff;
	text-decoration: underline;
}

footer p a:hover {
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

footer {
	margin: 6.5em 0;
	text-align: center;
}


/*--//footer--*/


/*--responsive--*/

@media(max-width:1680px) {
	h1 {
		margin: 2.5em 0 2em;
	}
}

@media(max-width:1600px) {
	h1 {
		font-size: 48px;
		margin: 1.5em 0 1em;
	}
	footer {
		margin: 3.5em 0;
	}
}

@media(max-width:1440px) {
	h1 {
		margin: 2em 0 1em;
	}
	p.para-wthree {
		width: 74%;
	}
}

@media(max-width:1366px) {
	h1 {
		font-size: 45px;
		margin: 1.5em 0 1em;
	}
	p.para-wthree {
		width: 79%;
	}
	footer {
		margin: 3em 0;
	}
}

@media(max-width:1280px) {
	.main-agileits {
		width: 65%;
	}
}

@media(max-width:1080px) {
	p.para-wthree {
		width: 90%;
	}
	.main-agileits h2 {
		font-size: 5em;
		line-height: 74px;
	}
}

@media(max-width:1050px) {}

@media(max-width:1024px) {
	h1 {
		margin: 1.3em 0 1em;
	}
	.main-agileits {
		padding: 3.5em;
	}
	.main-agileits h2 {
		font-size: 5em;
		line-height: 78px;
	}
	p.para-wthree {
		font-size: 17px;
		letter-spacing: 1.2px;
		width: 90%;
		line-height: 29px;
	}
	footer {
		margin: 2.6em 0;
	}
}

@media(max-width:991px) {
	h1 {
		margin: 1em 0 .5em;
		font-size: 43px;
		letter-spacing: 5px;
	}
	.main-agileits h2 {
		font-size: 4.5em;
		line-height: 70px;
	}
	footer {
		margin: 2em 0;
	}
	p.copyright-agileinfo {
		letter-spacing: 1.5px;
	}
}

@media(max-width:900px) {
	.main-agileits {
		width: 72%;
	}
}

@media(max-width:800px) {
	.main-agileits {
		width: 75%;
		padding: 2.5em;
	}
	p.para-wthree {
		font-size: 16px;
	}
	h1 {
		margin: 1.1em 0 .8em;
	}
}

@media(max-width:768px) {
	h1 {
		margin: 2.1em 0 1em;
	}
	p.para-wthree {
		width: 96%;
	}
	footer {
		margin: 4em 0;
	}
}

@media(max-width:767px) {
	h1 {
		margin: 1.1em 0 .8em;
	}
	footer {
		margin: 2em 0;
	}
}

@media(max-width:667px) {
	p.copyright-agileinfo {
		font-size: 13px;
	}
	.button a {
		font-size: 15px;
		padding: 7px 24px;
	}
	h1 {
		margin: 1.4em 0 .9em;
		font-size: 40px;
	}
	.main-agileits h2 {
		font-size: 4.4em;
	}
}

@media(max-width:640px) {
	.main-agileits h2 {
		font-size: 3.7em;
		line-height: 56px;
	}
	p.para-wthree {
		width: 88%;
		font-size: 15px;
	}
	footer {
		margin: 2.5em 0;
	}
}

@media(max-width:600px) {
	p.copyright-agileinfo {
		letter-spacing: 1px;
	}
	h1 {
		margin: 1.3em 0 .9em;
		font-size: 36px;
	}
}

@media(max-width:568px) {
	p.copyright-agileinfo {
		letter-spacing: 1px;
		padding: 0 2em;
		line-height: 28px;
	}
	footer {
		margin: 2em 0;
	}
	p.para-wthree {
		width: 96%;
	}
}

@media(max-width:480px) {
	h1 {
		font-size: 35px;
		letter-spacing: 2px;
	}
	p.para-wthree {
		width: 100%;
	}
	p.copyright-agileinfo {
		padding: 0 3em;
	}
	.agileits_modal_body input[type="search"] {
		font-size: 14px;
		padding: 9px 15px;
	}
	.agileits_modal_body input[type="submit"] {
		font-size: 17px;
		padding: 8.2px 0px;
	}
	.main-agileits h2 {
		font-size: 3.1em;
	}
}

@media(max-width:440px) {
	h1 {
		font-size: 36px;
		margin: .8em 1em .7em;
		letter-spacing: 3px;
		line-height: 47px;
	}
	footer {
		margin: 1.3em 0;
	}
	.main-agileits h2 {
		font-size: 2.9em;
		line-height: 50px;
	}
}

@media(max-width:414px) {
	.main-agileits {
		padding: 2em;
	}
	h1 {
		margin: 1.8em 1em .7em;
		line-height: 50px;
	}
	.main-agileits h2 {
		font-size: 2.7em;
	}
}

@media(max-width:384px) {
	h1 {
		margin: 0.9em 1em .7em;
		line-height: 45px;
		letter-spacing: 1px;
	}
	.main-agileits h2 {
		font-size: 2.5em;
		line-height: 46px;
	}
	p.para-wthree {
		font-size: 14px;
		letter-spacing: 1px;
	}
	footer {
		margin: 1.4em 0;
	}
}

@media(max-width:375px) {
	p.copyright-agileinfo {
		padding: 0 2em;
	}
	h1 {
		margin: 0.8em 0.5em .5em;
	}
}

@media(max-width:320px) {
	h1 {
		margin: 0.7em 0.2em .5em;
		letter-spacing: 1.5px;
		font-size: 32px;
		line-height: 40px;
	}
	.main-agileits {
		padding: 1.5em;
	}
	.main-agileits h2 {
		font-size: 2em;
		line-height: 40px;
	}
	p.para-wthree {
		font-size: 13px;
		line-height: 25px;
		margin: .5em 0 1em;
	}
	p.copyright-agileinfo {
		padding: 0 1em;
		letter-spacing: 0.5px;
		line-height: 27px;
	}
	footer {
		margin: .7em 0;
	}
}


/*--responsive--*/